body {
	background-color: purple;
}

#msgs {
	background-color: yellow;
	width: 50%;
}

#newMsg {
	background-color: green;
}

#contentWrap {
	display: none;
}

#chatWrap {
	float: left;
}

#users {
	float: right;
}

#msgs div span{
	font-weight:bold;
}