body {
	background-color: purple;
}

#msgs {
	background-color: yellow;
}

#newMsg {
	background-color: green;
}

#contentWrap {
	display: none;
}

#chatWrap {
	float: left;
}

#users {
	float: right;
}